@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

.social-icon:hover svg path {
  fill: #26BBA4;
}